<div class="main main-wrapper">
    <div class="chat-list-wrapper">
        <ul class="chatroom-list">
            <li *ngFor="let chatroom of chatrooms$ | async" [routerLink]="[chatroom.name]" routerLinkActive="active-link" >
                {{ chatroom.name }}
            </li>
        </ul>
        <mat-spinner *ngIf="isLoading" [diameter]="50" class="spinner"></mat-spinner>
        <mat-icon class="add-chatroom" (click)="onAddChatroom()">add_box</mat-icon>
    </div>
    <div class="chat-main">
        <router-outlet></router-outlet>
    </div>
</div>