.main-wrapper {
    display: flex;
    font-family: 'Courier Prime', monospace;
    color: white;
}

.chat-list-wrapper {
    width: 20%;
    background-color: black;
}

.chat-main {
    width: 80%;
}

.chatroom-list {
    padding: 5em 0 0 0;
}

.add-chatroom {
    margin: 20px 10px 10px 30px;
    transform: scale(1.5);
}
.add-chatroom:hover {
    cursor: pointer;
}

.active-link {
    background-color: rgba(248, 248, 248, .2);
}