<div class="main main-wrapper">
    <div class="chat-list-wrapper">
        <ul class="chatroom-list">
            <a [routerLink]="['/chat', '/ss']" ><li>Chat 1</li></a>
            <a href="#"><li>Chat 2</li></a>
            <a href="#"><li>Chat 3</li></a>
            <a href="#"><li>Chat 4</li></a>
            <a href="#"><li>Chat 5</li></a>
            <mat-icon class="add-chatroom">add_box</mat-icon>
        </ul>
    </div>
    <div class="chat-main">
        <router-outlet></router-outlet>
    </div>
</div>