/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
}

.main {
    height: 100vh;
    width: 100%;
}

.btn-primary {
    width: 250px;
    height: 35px;
    background-color: #101010;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.5);
}

.btn-primary:hover:enabled {
    background-color: white;
    color: #101010;
    cursor: pointer;
}

.btn {
    font-family: 'Roboto', sans-serif;
    margin: 1em auto;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-secondary {
    width: 250px;
    height: 35px;
    background-color: #F0F0F0;
    border-radius: 20px;
    border: 2px solid #080808;
    color: #080808;
}

.btn-secondary:hover:enabled {
    background-color: #080808;
    color: #F0F0F0;
    cursor: pointer;
}

.btn-secondary:disabled {
    opacity: .8;
}

.btn-primary:disabled {
    opacity: .8;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 10px 10px 10px 30px;
    margin: 15px 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

li:hover {
    background-color: rgba(248, 248, 248, .2);
    cursor: pointer;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: white;
}

.spinner {
    margin: auto;
}

.dialog-header {
    font-family: 'Courier Prime', monospace;
    padding: 5px 5px 20px 5px;
}

.mat-tab-label, .mat-tab-link {
    font-family: 'Courier Prime', monospace;
}